*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.card{
    width: 638px;
    gap: 1016px;
    background: #FCF2E5;
    text-align: center;
    padding: 63px 48px;
}
.card img{
    width: 342px;
    height: 342px;
}
.uszer-card{
    padding: 100px;
}
 h1{
        font-family: Itim;
font-weight: 400;
font-size: 96px;
line-height: 100%;
letter-spacing: 0%;
color: #000;
padding-bottom: 85px;
text-align: center;
padding-top: 143px;
}
.card h2{
    font-family: Inter;
font-weight: 900;
font-size: 42px;
line-height: 100%;
letter-spacing: 0%;
color: #000;
padding-top: 87px;
padding-bottom: 31px;
}
.card p{
    font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #000;
padding-bottom: 6px;
}